@{
    Layout = null;
}
    <partial name="~/Views/Shared/Partials/General/Refrences/css/_DataTablesCssPartial.cshtml">
    <partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
        <partial name="~/Views/Shared/Partials/General/Refrences/js/_DataTablesJsPartial.cshtml">


                <div id="operation-box" class="modal fade" role="dialog" aria-hidden="true">
                </div>
                <div class="btn btn-outline-primary btn-sm  my-3 mx-1">مدیریت پرسنل - استان</div>

                <div>
                    <button class="btn btn-primary text-white d-flex p-2 justify-content-center mb-3 mx-1" id="addBtn">
                        <i class="fa fa-lg fa-user-plus align-self-center"></i>
                    </button>
                </div>
                <div id="users-box">
                </div>
                <script type="text/javascript">
                    var _registerUrl = '@Url.Action("Register", "Management", new { area = "Province" })';
                    var _gridUrl = '@Url.Action("FillUsersGrid", "Management", new { area = "Province" })';
                    var _getUsersUrl = '@Html.Raw(@Url.Action("GetUsers", "Management", new { area = "Province" }))';
                    var _editUrl = '@Url.Action("Edit", "Management", new { area = "Province" })';
                    var _disableUrl = '@Url.Action("Disable", "Management", new { area = "Province" })';
                    var direction = {
                        province: "1",
                        county: "0",
                        district: "0"
                    };
                </script>
                <script type="text/javascript">
                    //List
                    $(document).ready(function (e) {
                        $.get(_gridUrl).done(function (result) {
                            $("#users-box").html(result);
                        });
                    });

                    function GridLoad() {
                        table = $("#tableList").DataTable({
                            initComplete: function () {
                                $('div.dt-search').addClass("d-flex");
                                $('div.dt-search input').addClass('form-control');
                            },
                            "paging": true,
                            "pagingType": 'full_numbers',
                            "pageLength": 10,
                            "processing": false,
                            "serverSide": true,
                            "info": false,
                            "lengthChange": false,
                            "ordering": false,
                            "language": {
                                "emptyTable": "داده ای ثبت نشده است.",
                                "zeroRecords": "کاربری یافت نشد.",
                                "loadingRecords": '<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>',
                                "search": `<span class="ms-2">
                                                                                                 <i class="fa fa-search text-primary"></i>
                                                                                                                   جست‌و‌جو بر اساس کد ملی:
                                                                                           </span>`,
                                "searchPlaceholder": 'مقدار مناسبی برای کد ملی وارد کنید ...',
                            },
                            "ajax": {
                                "url": _getUsersUrl,
                                "type": "POST",
                                "datatype": "json"
                            },
                            "columns": [
                                { "data": "userName", "title": "نام کاربری" },
                                { "data": "area", "title": "ناحیه" },
                                { "data": "county", "title": "شهرستان" },
                                { "data": "district", "title": "بخش" },
                                { "data": "firstName", "title": "نام" },
                                { "data": "lastName", "title": "نام خانوادگی" },
                                { "data": "gender", "title": "جنسیت" },
                                { "data": "education", "title": "تحصیلات" },
                                { "data": "employment", "title": "وضعیت استخدامی" },
                                { "data": "maritalStatus", "title": "وضعیت تاهل" },
                                { "data": "insurance", "title": "بیمه" },
                                { "data": "phoneNumber", "title": "شماره همراه" },
                                { "data": "email", "title": "پست الکترونیک" },
                                { "data": "dateOfBirth", "title": "تاریخ تولد" },
                                { "data": "city", "title": "شهر سکونت" },
                                { "data": "address", "title": "نشانی سکونت" },
                                { "data": "isActived", "title": "وضعیت" },
                                { "data": "lastActived", "title": "آخرین فعالیت" },
                                { "data": "registerDate", "title": "تاریخ ثبت" },
                                {
                                    "data": "userId", "title": "عملیات", render: function (data, type, row) {

                                        return `<div class="d-flex py-2">
                                                                                                   <a class="btn btn-outline-primary btn-sm rounded-circle ms-1"
                                                                                                     onclick="Edit('${data}')"
                                                                                                   >
                                                                                                       <i class="fa fa-edit my-2 mx-1" > </i>
                                                                                                   </a>
                                                                                                   <a class="btn btn-outline-danger btn-sm rounded-circle"
                                                                                                     onclick = "Disable('${data}','${row.userName}')"
                                                                                                    >
                                                                                                       <i class="fa fa-minus my-2 mx-1" > </i>
                                                                                                   </a>
                                                                                               <div>`
                                    }
                                }
                            ]
                        })
                    };

                    //Reload
                    function GridReload() {
                        table.ajax.reload(null, false);
                    }

                    //Register
                    $("#addBtn").off("click").on("click", function (e) {
                        e.preventDefault();
                        $.get(_registerUrl).done(function (result) {
                            $("#operation-box").html(result);
                            $("#operation-box").modal("show");
                        });
                    });

                    //Edit
                    function Edit(userId) {

                        var data = {
                            userId: userId,
                            province: direction.province,
                            county: direction.county,
                            district: direction.district
                        };

                        $.get(_editUrl, data).done(function (result) {
                            $("#operation-box").html(result);
                            $("#operation-box").modal("show");
                        });
                    }

                    //Disable
                    function Disable(userId, userName) {
                        Swal.fire({
                            text: " آیا از غیر فعال کردن کاربر " + userName + " مطمئن هستید؟ ",
                            showCancelButton: true,
                            icon: "warning",
                            confirmButtonText: "تایید",
                            confirmButtonColor: "#DC3545",
                            cancelButtonText: "خیر"
                        }).then((result) => {
                            if (result.isConfirmed) {

                                var data = {
                                    area: "0",
                                    userId: userId,
                                    userName: userName,
                                    province: direction.province,
                                    county: direction.county,
                                    district: direction.district
                                };

                                $.post(_disableUrl, data).done(function (result) {
                                    if (result.success) {
                                        GridReload();
                                        Swal.fire({
                                            title: result.message,
                                            icon: 'success',
                                            showConfirmButton: false,
                                            timer: 4000,
                                            showClass: {
                                                popup: 'animate__animated animate__fadeInDown'
                                            },
                                            hideClass: {
                                                popup: 'animate__animated animate__fadeOutDown'
                                            }
                                        });
                                    } else {
                                        Swal.fire({
                                            title: 'خطا',
                                            icon: 'error',
                                            text: result.message,
                                            showConfirmButton: false,
                                            timer: 4000,
                                            showClass: {
                                                popup: 'animate__animated animate__fadeInDown'
                                            },
                                            hideClass: {
                                                popup: 'animate__animated animate__fadeOutDown'
                                            }
                                        })
                                    }
                                });
                            }
                        })
                    };

                </script>


