@{
    Layout = null;
}
<partial name="~/Views/Shared/Partials/General/Refrences/css/_DataTablesCssPartial.cshtml">
    <partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
        <partial name="~/Views/Shared/Partials/General/Refrences/js/_DataTablesJsPartial.cshtml">
            <div id="operation-box" class="modal fade" role="dialog" aria-hidden="true">
            </div>
            <div class="btn btn-outline-primary btn-sm  my-3 mx-1">ارسالی های من - بخش</div>
            <div id="transfers-box">
            </div>
            <script type="text/javascript">
                var _gridUrl = '@Url.Action("FillTransfersGrid", "Transfer", new { area = "District" })';
                var _getMySendTransfersUrl = '@Html.Raw(@Url.Action("GetMySendTransfers", "Transfer", new { area = "District" }))';
                var _downloadUrl = '@Url.Action("Download", "Transfer", new { area = "District" })';
                var _getDescriptionUrl = '@Url.Action("GetDescription", "Transfer", new { area = "District" })';
            </script>
            <script type="text/javascript">
                //List
                $(document).ready(function (e) {
                    $.get(_gridUrl).done(function (result) {
                        $("#transfers-box").html(result);
                    });
                });

                function GridLoad() {
                    table = $("#tableList").DataTable({
                        initComplete: function () {
                            $('div.dt-search').addClass("d-flex");
                            $('div.dt-search input').addClass('form-control');
                        },
                        "paging": true,
                        "pagingType": 'full_numbers',
                        "pageLength": 10,
                        "processing": false,
                        "serverSide": true,
                        "info": false,
                        "lengthChange": false,
                        "ordering": false,
                        "language": {
                            "emptyTable": "داده ای ثبت نشده است.",
                            "zeroRecords": "داده ای یافت نشد.",
                            "loadingRecords": '<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>',
                            "search": `<span class="ms-2">
                                                                                                                                                                                                                                                 <i class="fa fa-search text-primary"></i>
                                                                                                                                                                                                                                                                   جست‌و‌جو بر اساس عنوان:
                                                                                                                                                                                                                                           </span>`,
                            "searchPlaceholder": 'مقدار مناسبی برای عنوان وارد کنید ...',
                        },
                        "ajax": {
                            "url": _getMySendTransfersUrl,
                            "type": "POST",
                            "datatype": "json"
                        },
                        "columns": [
                            { "data": "title", "title": "عنوان" },
                            { "data": "nationalCodeUploader", "title": "نام کاربری فرستنده" },
                            { "data": "roleUploader", "title": "معاونت فرستنده" },
                            { "data": "areaUploader", "title": "ناحیه مبدا " },
                            { "data": "provinceUploader", "title": "استان مبدا " },
                            { "data": "countyUploader", "title": "شهرستان مبدا " },
                            { "data": "districtUploader", "title": "بخش مبدا " },
                            { "data": "nationalCodeReceiver", "title": "نام کاربری گیرنده" },
                            { "data": "roleReceiver", "title": "معاونت گیرنده" },
                            { "data": "areaReceiver", "title": "ناحیه مقصد " },
                            { "data": "provinceReceiver", "title": "استان مقصد " },
                            { "data": "countyReceiver", "title": "شهرستان مقصد " },
                            { "data": "districtReceiver", "title": "بخش مقصد " },
                            { "data": "fileFormat", "title": "نوع", "className": "ltr" },
                            {
                                "data": "transferId", "title": "توضیحات", render: function (data, type, row) {
                                    return `<div class="d-flex py-2">
                                                                                                                                  <a class="btn btn-outline-primary btn-sm rounded-circle ms-1"
                                                                                                                                         onclick="Description('${data}')">
                                                                                                                                        <i class="fa fa-external-link-square my-2 mx-1" > </i>
                                                                                                                                  </a>
                                                                                                                           </div>`
                                }
                            },
                            { "data": "isActived", "title": "وضعیت" },
                            { "data": "uploadDate", "title": "تاریخ ثبت" },
                            {
                                "data": "transferId", "title": "عملیات", render: function (data, type, row) {

                                    return `<div class="py-2 d-flex justify-content-center">
                                                                                              ${row.fileFormat != "-" ?
                                            `
                                                                                                                                        <a class="btn btn-outline-primary btn-sm rounded-circle mx-1"
                                                                                                                                                                                                           onclick="Download('${data}')">
                                                                                                                                                                                                              <i class="fa fa-download my-2 mx-1" > </i>
                                                                                                                                                                                                     </a>`
                                            : `-`
                                        }
                                                                                                                    </div>`

                                }
                            }
                        ]
                    })
                };

                //Description
                function Description(transferId) {

                    var data = {
                        transferId: transferId
                    }

                    $.get(_getDescriptionUrl, data).done(function (result) {
                        $("#operation-box").html(result);
                        $("#operation-box").modal("show");
                    })
                }

                //Download
                function Download(transferId) {
                    if (transferId != null) {

                        var model = {
                            documentId: transferId
                        }


                        $.get(_downloadUrl, model).done(function (result) {
                            if (result.success == undefined) {
                                var downloadUrl = _downloadUrl + '?documentId=' + transferId;

                                $('<iframe style="display:none;"></iframe>').attr('src', downloadUrl).appendTo('body');
                            }
                            else {
                                Swal.fire({
                                    title: "خطا",
                                    text: result.message,
                                    icon: 'error',
                                    showConfirmButton: false,
                                    timer: 4000,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutDown'
                                    }
                                });
                            }
                        });
                    }
                }




            </script>

