@model Domain.DTOs.Portal.Transfer.TransferRegisterVM
@{
    Layout = null;

    var provinceDepartment = ViewBag.Departments;

    var roles = ViewBag.Roles != null
        ? ViewBag.Roles
        : new List<SelectListItem>();
}
<div class="btn btn-outline-primary btn-sm  my-2 mx-1">افزودن در سطح استان</div>

<p class="fs-8 mt-3 fw-bold">
    <i class="fa fa-lg me-3 ms-2 fa-bullseye text-primary"></i>
    اطلاعات گیرنده را با دقت در ورودی های مربوطه وارد کنید.
</p>
<div class="row m-0 border border-start-0 border-end-0">
    <div class="col-lg-7 pt-2 pb-3">
        <form id="registerForm" enctype="multipart/form-data" class="px-2" asp-antiforgery="true">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProvinceReceiver" value="@provinceDepartment" id="provinceDepartmentStatus" />
            <input type="hidden" asp-for="AreaReceiver" value="0" />
            <input type="hidden" asp-for="CountyReceiver" value="0" />
            <input type="hidden" asp-for="DistrictReceiver" value="0" />

            <div class="row mt-2 px-2">
                <div class="col-5 col-lg-4">
                    <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                    <label class="control-label">عنوان :</label>
                </div>
                <div class="col-7 col-lg-8">
                    <input asp-for="Title" class="form-control w-100" tabindex="1" autocomplete="off" placeholder="مقدار مناسبی برای عنوان وارد کنید ..." />
                    <span asp-validation-for="Title" class="text-danger fs-8"></span>
                </div>
            </div>
            <p class="help-block cursor fs-8 mt-2 mb-3 px-2 text-black-50">
                <i class="fa fa-exclamation-circle fa-lg text-warning my-1 ms-2"></i>
                در صورت ارسال برای کارمند یا معاونت خاصی، تکمیل فقط یکی از دو ورودی زیر الزامی است و در غیر این صورت چیزی وارد نکنید:
            </p>
            <div class="row mt-2 px-2">
                <div class="col-5 col-lg-4">
                    <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                    <label class="control-label">پرسنل <sup class="text-danger fs-6 fw-bold">*</sup> :</label>
                </div>
                <div class="col-7 col-lg-8">
                    <select asp-for="UserIdReceiver" class="form-select" aria-label=".form-select-sm" id="provinceUserStatus" tabindex="3">
                        <option selected class="fs-7" id="userStatus" value="@Guid.Empty">پرسنل مورد نظر را انتخاب کنید ...</option>
                    </select>
                    <span class="text-danger fs-8" id="userError"></span>
                </div>
            </div>
            <div class="row mt-2 px-2">
                <div class="col-5 col-lg-4">
                    <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                    <label class="control-label">معاونت <sup class="text-danger fs-6 fw-bold">*</sup> :</label>
                </div>
                <div class="col-7 col-lg-8">
                    <select asp-for="RoleReceiver" class="form-select" aria-label=".form-select-sm" asp-items="roles" id="roleStatus" tabindex="4">
                        <option selected class="fs-7" value="@Guid.Empty">معاونت مربوطه، را انتخاب کنید ...</option>
                    </select>
                    <span class="text-danger fs-8" id="roleError"></span>
                </div>
            </div>
            <div class="row mt-2 px-2">
                <div class="col-5 col-lg-4">
                    <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                    <label class="control-label">توضیحات :</label>
                </div>
                <div class="col-7 col-lg-8">
                    <textarea asp-for="Description" class="form-control" tabindex="5" id="editor"></textarea>
                    <span asp-validation-for="Description" id="descriptionError" class="text-danger fs-8"></span>
                </div>
            </div>
            <div class="row mt-2 px-2 custom-file">
                <div class="col-5 col-lg-4">
                    <i class="fa fa-caret-square-o-left text-primary ms-2"></i>
                    <label class="control-label">بارگذاری سند :</label>
                </div>
                <div class="col-7 col-lg-8 fs-8">
                    <input asp-for="Document" id="fileInput" class="custom-file-input hidden" tabindex="6" />
                    <button type="button" class="btn btn-primary fs-8" id="uploadButton">
                        سندی انتخاب کنید ...
                    </button>
                    <span id="customFileLabel">سندی انتخاب نشده است</span>

                </div>
            </div>

        </form>
    </div>
</div>
<div class=" d-flex justify-content-center align-items-center mt-4">
    <button type="submit" class="btn btn-primary px-5 align-items-center" id="submitBtn" tabindex="7">
        <i class="fa fa-send mx-2"></i>
        ارسال
    </button>
</div>

<partial name="~/Views/Shared/Partials/General/Refrences/js/_JsPartial.cshtml">
    <partial name="~/Views/Shared/Partials/General/Refrences/js/_CkEditorPartial.cshtml" />

    <script type="text/javascript">

        var _getUsersUrl = '@Url.Action("GetUsersForSelectBox", "Access", new { area = "Province" })';
        var _registerUrl = '@Url.Action("Register", "Transfer", new { area = "Province" })';
        var _provinceRegisterTransferUrl = '@Url.Action("UserRegister", "Transfer", new { area = "Province" })';

    </script>
    <script type="text/javascript">

        //Validation
        $.fn.Validation = function () {
            var result = true;

            var roleError = $("#roleError");
            var userError = $("#userError");
            var descriptionError = $("#descriptionError");

            var $userStatus = $("#provinceUserStatus").find(':selected').text();
            var $roleStatus = $("#roleStatus").find(':selected').text();
            var $fileName = $("#fileInput")[0].files.length > 0 ? $("#fileInput")[0].files[0].name : 'سندی انتخاب کنید';
            var $description = CKEDITOR.instances.editor.getData();

            if ((($userStatus !== "پرسنل مورد نظر را انتخاب کنید ...") &&
                ($roleStatus !== "معاونت مربوطه، را انتخاب کنید ...")) ||
                (($userStatus === "پرسنل مورد نظر را انتخاب کنید ...") &&
                ($roleStatus === "معاونت مربوطه، را انتخاب کنید ..."))){
                userError.text('تکمیل فقط یکی از ورودی ها معتبر است.');
                roleError.text('تکمیل فقط یکی از ورودی ها معتبر است.');
                result = false;
            } else {
                roleError.text('');
                userError.text('');
            }

            $("#provinceUserStatus").change(function () {
                var $userStatus = $("#provinceUserStatus").find(':selected').text();
                var $roleStatus = $("#roleStatus").find(':selected').text();

                if ($userStatus !== "پرسنل مورد نظر را انتخاب کنید ..." &&
                    $roleStatus === "معاونت مربوطه، را انتخاب کنید ...") {
                    userError.text('');
                    roleError.text('');
                } else {
                    userError.text('تکمیل یکی از ورودی ها معتبر است.');
                    roleError.text('تکمیل یکی از ورودی ها معتبر است.');
                    result = false;
                }
            })

            $("#roleStatus").change(function () {
                var $userStatus = $("#provinceUserStatus").find(':selected').text();
                var $roleStatus = $("#roleStatus").find(':selected').text();

                if ($userStatus === "پرسنل مورد نظر را انتخاب کنید ..." &&
                    $roleStatus !== "معاونت مربوطه، را انتخاب کنید ...") {
                    userError.text('');
                    roleError.text('');
                } else {
                    userError.text('تکمیل یکی از ورودی ها معتبر است.');
                    roleError.text('تکمیل یکی از ورودی ها معتبر است.');
                    result = false;
                }
            })

            if ($fileName === 'سندی انتخاب کنید' && $description === '') {
                descriptionError.text("تکمیل ورودی توضیحات یا فایل ضروری است.");
                result = false;
            } else {
                descriptionError.text('');
            }

            $("#editor").change(function () {
                $description = CKEDITOR.instances.editor.getData();
                ValidateDescriptionAndFile($description, $fileName);
            });

            $("#fileInput").change(function () {
                $fileName = $("#fileInput")[0].files.length > 0 ? $("#fileInput")[0].files[0].name : 'سندی انتخاب کنید';
                ValidateDescriptionAndFile($description, $fileName);
            });

            function ValidateDescriptionAndFile(description, fileName) {
                if (fileName === 'سندی انتخاب کنید' && description === '') {
                    descriptionError.text("تکمیل ورودی توضیحات یا فایل ضروری است.");
                    result = false;
                } else {
                    descriptionError.text('');
                }
            }

            $("#provinceUserStatus").change(function () {
                var $userStatus = $("#provinceUserStatus").find(':selected').text();
                var $roleStatus = $("#roleStatus").find(':selected').text();

                if ($userStatus !== "پرسنل مورد نظر را انتخاب کنید ..." &&
                    $roleStatus !== "معاونت مربوطه، را انتخاب کنید ...") {
                    userError.text('تکمیل فقط یکی از ورودی ها معتبر است.');
                    roleError.text('تکمیل فقط یکی از ورودی ها معتبر است.');
                    result = false;
                } else {
                    userError.text('');
                    roleError.text('');
                }
            })

            $("#roleStatus").change(function () {
                var $userStatus = $("#provinceUserStatus").find(':selected').text();
                var $roleStatus = $("#roleStatus").find(':selected').text();
                if ($userStatus !== "پرسنل مورد نظر را انتخاب کنید ..." &&
                    $roleStatus !== "معاونت مربوطه، را انتخاب کنید ...") {
                    userError.text('تکمیل فقط یکی از ورودی ها معتبر است.');
                    roleError.text('تکمیل فقط یکی از ورودی ها معتبر است.');
                    result = false;
                } else {
                    userError.text('');
                    roleError.text('');
                }
            })

            return result;
        }

        //Seed data to select user
        $(document).ready(function () {

            $("#provinceUserStatus").empty();

            $("#provinceUserStatus").append('<option selected class="fs-7" id="userStatus" value="@Guid.Empty">پرسنل مورد نظر را انتخاب کنید ...</option>');

            var provinceDepartment = $('#provinceDepartmentStatus').val();

                var direction = {
                    Level: "0",
                    Province: provinceDepartment,
                    County: "0",
                    District: "0"
                };

                $.post(_getUsersUrl, direction)
                    .done(function (result) {
                        if (result.success) {
                            $.each(result.data, function () {
                                $("#provinceUserStatus").append('<option id="userStatus" value=' + this.value + '>' + this.text + '</option>');
                            });
                        }
                    });
            });

        //Editor
        $('#editor').each(function () {
            CKEDITOR.replace($(this).prop('id'));
        });

        //Custom file input
        $(document).ready(function () {
            $('#uploadButton').on('click', function () {
                $('#fileInput').click();
            });

            $('#fileInput').on('change', function () {

                var fileName = this.files.length > 0 ? this.files[0].name : 'سندی انتخاب کنید';

                if (fileName !== 'سندی انتخاب کنید') {
                    $("#uploadButton").text("تغییر سند");
                }

                $('#customFileLabel').text(fileName);


            });
        });

        //Send
        $(function () {
            $("#submitBtn").off("click");
            $("#submitBtn").on("click", function (e) {
                var validation = $.fn.Validation();
                e.preventDefault();
                var $form = $('#registerForm');
                if ($form.valid() && validation == true) {
                    $("#submitBtn").prop('disabled', true);

                    var formData = new FormData($form.get(0));
                    var descriptionData = CKEDITOR.instances.editor.getData();
                    formData.delete('Description');
                    formData.append('Description', descriptionData);


                    $.ajax({
                        url: _registerUrl,
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (result) {
                            if (result.success) {
                                $.get(_provinceRegisterTransferUrl).done(function (result) {
                                    $("#main").html(result);
                                });
                                $("#operation-box").modal("toggle");
                                Swal.fire({
                                    title: result.message,
                                    icon: 'success',
                                    showConfirmButton: false,
                                    timer: 4000,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutDown'
                                    }
                                });
                            } else {
                                Swal.fire({
                                    title: 'خطا',
                                    icon: 'error',
                                    text: result.message,
                                    showConfirmButton: false,
                                    timer: 4000,
                                    showClass: {
                                        popup: 'animate__animated animate__fadeInDown'
                                    },
                                    hideClass: {
                                        popup: 'animate__animated animate__fadeOutDown'
                                    }
                                })
                            }
                        },
                        complete: function () {
                            $("#submitBtn").prop('disabled', false);
                        }
                    });
                };
            });
        });
    </script>
